:root {
    --primary-color: green;
}

img{
    width: 400px;
}

.mini-mini{
    width: 150px;
    border: 3px solid red;
    overflow: hidden;
}

.mini-mini P {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.maga{
    width: 400px;
    height: 300px;
    border: 3px solid red;
    overflow: hidden;
    overflow: scroll;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.container,
.inner{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(23, 203, 209);
    
}
.container{
    background-color: violet;
}

.inner{
    background-color: tomato;
    transform: scale(.7) rotate(30deg) translate(50px , 50px);
}
.boxTwo{
    width: 150px;
    height: 250px;
    background-color: aqua;
    /* transition: 3s; */
    transition: width 3s , height 1s , transform 1s;
}

.boxTwo:hover{
    width: 250px;
    height: 400px;
    transform: rotate(140deg);
}


.field{
    border: 3px solid red;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 515px;
    transition: transform .4s ease-out .3s ;
}

.bat{
    transition: .3s;
}

.field:hover .ball{
    transform: translate(800px , -300px);
    
}

.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
}

@keyframes rise {
    0%{
        background-color:yellow;
        left: 0px;
        top: 0px;
        transform: scale(1);
    }

    25%{
        background-color: tomato;
        top: 400px;
        transform: scale(.7);
    }

    50%{
        background-color:yellow;
        top: 0px;
        transform: scale(1);
    }


    75%{
        background-color: tomato;
        top: 400px;
        transform: scale(.7);
    }


    100%{
        background-color: yellow;
        left: 90%;
        top: 0px;
        transform: scale(1);
    }
}

.sky{
    width: 100%;
    height: 600px;
    background-color: aqua;
}

.sun{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: yellow;
    animation: rise 2s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
    position: relative;
}

.box{
    width:200px;
    height: 200px;
    background-color: aquamarine;
    border: 5px solid rgb(236, 7, 149);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2{
    display: none;
}

#box3{
    /* display: none; */
    visibility: hidden;
}

.color{
    color: var(--primary-color);
    
}

.calc{
    width: calc(100% - 200px);
    background-color: teal;
    height: 100px;
}


/* specificity  */

/* 
tag 
class
id
!importan 
*/

